# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# JSON files
*.json

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule



